<!DOCTYPE html>
    <html>
    <head>
             {{"decoupled-map"|googlemap_js(51.5154, -0.1410, markers=[(25.4419, -80.1419)])}}
            {{mymap.js}} 
    </head>
    <body>
        
        <h1>HackCity18 App</h1>
        <h3>Coded with love by Nobby, Sebastian, Ruben, Charlotte and Alex</h3>
        
        {% with map=googlemap_obj("LDNMAP", 51.5154, -0.1410, markers=[(51.5154, -0.1410), (37.4300, -122.1400)]) %}
            {{map.html}}
            {{map.js}}
        {% endwith %}
    </body>
</html>